<div class="container mt-5">
    <div class="row">

        <div class="col-lg-8 offset-lg-2">
            <input type="text" [(ngModel)]="nameTask" (keyup.enter)="alertTask()" placeholder="Add Task" class="form-control form-control-lg">
        </div>
        <div *ngIf="number === 0" class="alert alert-danger" role="alert">
            <h6>It can't be empty</h6>
        </div>
        <div class="col-lg-6 offset-lg-3 mt-3">
            <div *ngIf="listTask.length === 0" class="card p-2">
                <h6>No Task Founds</h6>
            </div>
            <ul class="list-group">
                <li *ngFor="let task of listTask; let i = index" class="list-group-item d-flex justify-content-between">
                    <span class="cursor" (click)="updateTask(i,task)">
                        <i [class.text-success]="task.status" [ngClass]="task.status ? 'fas fa-check-circle' : 'far fa-circle'"></i>
                    </span>
                    {{task.name}}
                    <span class="cursor text-danger" (click)="deleteTask(index)" >
                        <i class="fas fa-trash-alt"></i>
                    </span>
                </li>
            </ul>
        </div>
    </div>
</div>
